<h2>Winner!</h2>
Your word was: <%= cookies[:current_word] %>
<br/>
<img src="/images/hangman/win.png" alt="hangman_winner"/>
<br/>
<%= link_to 'Next random word from this category',  controller: "categories", action: "preparation" %>
<br/>
<%= link_to 'Home', root_path %>